.navbar {
    background-color:#7700ff;
}

.programming{
    background-color: rgb(255, 255, 255);
}

body{
    font: 20px Arial, sans-serif;
}

.html{
    background-color:#7700ff;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.bg-footer{
    background-color: #7700ff;
}

.BOOTSTRAP{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}